#!/usr/bin/env ruby
#
# FIXME: 
# - use config[:text_entensions] instead of explicit enumeration of binaries
#

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.


# preprocessing, here we are setting up the category pages and the submenu for categorized pages

preprocess do
  Project.process_items @items
end

# compile rules

compile '/assets/coffee/*/' do
  filter :coffee
end

compile '/assets/sass/*/' do
  filter :sass
end

compile '/projekte/*/*_mehr' do
  case item[:extension]
    when 'md', 'txt'
      filter :kramdown
    else
      filter :haml
  end
end

compile '/*' do
  case item[:extension]
    when 'png', 'jpg', 'jpeg', 'gif', 'cur', 'js', 'ico', 'php', 'pdf', 'mp4', 'mov', 'webm', 'css'
    when 'html'
    when 'md', 'txt'
      filter :kramdown
      layout item[:layout] || 'default'
    else
      filter :haml
      layout item[:layout] ||'default'
  end
end

# routing rules

# so that the /assets/coffee/ item is copied to /javascripts/ item
route '/assets/coffee/*/' do
  item.identifier.sub(%r{^/assets/coffee}, '/javascripts').chop + '.js'
end

route '/assets/sass/*/' do
  item.identifier.sub(%r{^/assets/sass}, '/stylesheets').chop + '.css'
end

route '*' do
  case item[:extension]
    when 'png', 'jpg', 'jpeg', 'gif', 'cur', 'js', 'ico', 'php', 'pdf', 'mp4', 'mov', 'webm', 'css'
      item.identifier.chop + '.' + item[:extension]
    else
      item[:route] || item.identifier + 'index.html'
  end
end

# layout rules

layout '*', :haml
