---
category: :wohnen
name: East Side Tower Berlin
rank: -10
---

- filter :head do
  East Side Tower Berlin
  (Genehmigungsverfahren)

- filter :list do
  Bauherr: UGS Immobilien GmbH 
  Architekt: nps tchoban voss 
  BGF: 9.500 m²
  TGA Kosten: ca. 3,6 Mio. €
  Baukosten: ca. 12,0 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL 
  Ansprechpartner: City.bauten, Herr Reichert 

= more_link
