---
category: :wohnen
name: K18 Berlin
---

- filter :head do
  K18 Mehrfamilienhaus
  (Neubau)

- filter :list do
  Bauherr: K-Achtzehn Gbr 
  Architekt: Mehnert + Thiele Architekt 
  BGF: 2.300 m²
  TGA Kosten: 350 T€
  Baukosten: 920 T€
  Gewerke: GWAF, WBR, ELT
  Planungszeit: 2007
  Bauzeit: 2007-2008 
  Ansprechpartner: Thiele Architekt, Herr Thiele 

= more_link
