---
category: :wohnen
name: O55 Berlin
---

- filter :head do
  O55 - Neubau eines Mehrfamilienhauses
  (Neubau)

- filter :list do
  Bauherr: 055 Gbr 
  Architekt: Thiele Architekt 
  BGF: 1.200 m²
  TGA Kosten: 266 T€
  Baukosten: 980 T€
  Gewerke: GWA, WBR, ELT
  Planungszeit: 2008-2009
  Bauzeit: 2009-2010 
  Ansprechpartner: Thiele Architekt, Herr Thiele 

= more_link
