---
category: :wohnen
name: Pflegeheim München
---

- filter :head do
  Pflegeheim München
  (Neubau)

- filter :list do
  Bauherr: Endurance HC beta S.á r.l. 
  Architekt: Dipl.-Ing. Lothar Marx 
  BGF: ca. 5.400 m²
  TGA Kosten: 1,5 Mio. €
  Baukosten: 5,2 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL
  Planungszeit: 2008
  Ansprechpartner: ORCO Projektentwicklung GmbH, Frau Verfürth 

= more_link
