---
category: :wohnen
name: Pflegeheim Berlin
---

- filter :head do
  Pflegeheim Danziger Str. 73 Berlin
  (Sanierung)

- filter :list do
  Bauherr: Orco Germany/Viterra Deutschland 
  Architekt: Schrölkamp Architektur 
  BGF: 4.800 m²
  TGA Kosten: 1,6 Mio. €
  Baukosten: 5,0 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL
  Planungszeit: 2007-2008
  Bauzeit: 2078-2008 
  Ansprechpartner: Horner und Ingenieure, Herr Horner 

= more_link
