%p
  Auf einem ca. 33.000 m² großen Grundstück am Ufer des Griebnitzsee, am Rande des Naturschutzgebietes Bäkewiese werden in 3 Bauabschnitten 52 Villen und Stadthäuser auf dem parkartigen Grundstück errichtet. 
  %br
  Die verschiedenen Häuser als individuelle Villen, Doppelhäuser oder Zeilen von gestaffelten Townhäusern werden sich, trotz weitgehend individueller Ausprägung, in Kubatur und Höhenstaffelung zu einem Ensemble zusammenfügen. Dies wird durch eine einheitliche Sprache der Architektur und der Garten- und Landschaftsgestaltung erreicht.
  %br
  Zentraler Bestandteil des Projektes ist die angelegte Seenlandschaft im Zentrum der Anlage, um die sich ein Großteil der Häuser gruppiert. Der See mit anliegenden Grünflächen und die Erschließungsstraßen werden zur Nutzung durch alle Bewohner Gemeinschaftseigentum. Ziel ist die Schaffung eines Gebäude- und Landschaftsensembles, das durch seine bauliche Ausprägung dem Gemeinschaftsgedanken Ausdruck verleiht. Das energetische Konzept und die landschaftsplanerische Einbindung tragen zum nachhaltigen Konzept des Projektes bei.
%p
  Die Beheizung der Häuser wird über Erdwärme sichergestellt. In den Außenanlagen der Häuser wurden Erdsonden in der erforderlichen Anzahl in die dafür erforderliche Tiefe eingebracht. Die gewonnene Erdwärme wird durch die im Hausanschlussraum angeordnete Wärmepumpe zur Beheizung des Hauses herangezogen.

