---
name: Tillia Living Resort Potsdam
category: :wohnen
rank: 20
---

-filter :head do
  Tillia Living Resort Potsdam
  (Neubau)

-filter :list do
  Bauherr: STOFANEL Projektentwicklung GmbH & Co. Griebnitzsee KG
  Architekt: Rolvien Architekt
  BGF: ca. 10.000m²
  TGA Kosten: ca. 3,4 Mio.
  Baukosten: ca. 18,5 Mio
  Gewerke: GWAF, WBR, ELT
  Planungszeit: 2011-2012
  Bauzeit: 2011-2012
  Ansprechpartner: Stofanel Projektentwicklung, Herr Hansen 

=more_link
