%p
  Unweit vom Brandenburger Tor und gegenüber der Botschaft der Russischen Föderation finden anspruchsvolle Gäste ein erstklassiges Restaurant mit einer modernen Bar und exklusiver Zigarrenlounge vor - Kurzentschlossene und Flanierende genießen einfach einen hervorragenden Kaffee oder kleine Köstlichkeiten. 
%p
  Um das BERLIN-MOSCOW in alle Welt oder einfach nur nach Hause tragen zu können, ist ein Feinkostgeschäft die ideale Ergänzung dieses Dreiklangs.
