---
category: :gewerbe
name: BERLIN MOSCOW
---

- filter :head do
  BERLIN MOSCOW Restaurant und Feinkostgeschäft
  (Bauen im Bestand)

- filter :list do
  Bauherr: BERLIN MOSKAU GASTRONOMIE & EVENT GmbH
  Architekt: Axthelm Rolvien Architekten
  BGF: 1.000 m2
  TGA Kosten: 0,6 Mio Euro
  Baukosten: 2,0 Mio Euro
  Gewerke: GWAF, WBR, ELT, GA
  Planungszeit: 2011
  Bauzeit: 2011
  Ansprechpartner: Axthelm Rolvien Architekten Herr Rolvien Tel. +49.331.704090

= more_link
