%p
  Das Gebäudeensemble „Bikini Berlin" liegt im Zentrum der City West in Berlin und grenzt an den Zoologischen Garten, den Bahnhof Zoo und die Gedächtniskirche. Im Norden grenzt das Grundstück an den Zoologischen Garten. Die bestfrequentierten Einkaufsstraßen der Berliner City West, der Kurfürstendamm und der Tauentzien, liegen in direkter Nachbarschaft von „Bikini Berlin".
%p
  Zum Gebäudekomplex „Bikini Berlin", welcher zwischen den Jahren 1955-1957 nach Plänen der Architekten Paul Schwebes und Hans Schoszberger entstand, gehört das Hochhaus am Hardenbergplatz, der Zoopalast, das Bikinihaus und das kleine Hochhaus. Seinerzeit schaffte man durch den Bau von „Bikini Berlin", damals noch „Zentrum am Zoo" genannt, unter anderem Ausstellungs- und Büroflächen für die Damenoberbekleidungsindustrie. 
  %br
  Der Zoopalast wurde für die Internationalen Filmfestspiele errichtet und war über 40 Jahre lang das Premierenkino der Berlinale. Das Bikinihaus besaß bis 1978 ein Luftgeschoss und kam so zu seinem Namen. Die Gesamtanlage ist denkmalgeschützt.
%p
  Im Jahre 2001 hat die Bayerische Immobilien GmbH den Gebäudekomplex erworben. Nach Abschluss des städtebaulichen Vertrages zum Umbau der Gesamtanlage im Oktober 2009 sollen nun insgesamt 300 Millionen Euro in die Sanierung investiert werden.

