---
name: Bikinihaus Berlin
category: :gewerbe
---

- filter :head do
  Bikinihaus Berlin
  (Bauen im Bestand)

- filter :list do
  Bauherr: Bayerische Hausbau GmbH
  Architekt: Kahl Ernst Consultants
  BGF: 84.000 m2
  TGA Kosten: 30 Mio Euro
  Baukosten: 100 Mio Euro
  Gewerke: GWAF, WBR, ELT, GA
  Planungszeit: 2011
  Bauzeit: 2011 - 2012
  Ansprechpartner: interprojekt Herr Peil Tel. +49.30.56733331

= more_link
