---
name: BBI-Drittinvest Schönefeld
category: :gewerbe
---

- filter :head do
  BBI-Drittinvest Schönefeld
  (Projektsteuerung)

- filter :list do
  Bauherr: Flughafen Berlin Schönefeld GmbH über Arge Projektcontrolling / Management
  Architekten: Henn Architekten, Berlin (Parkhäuser und Mietwagencenter) und Gewers & Pudewill, GPAI GmbH (Bodenverkehrsdienste / Sicherheitsdienste)
  Gewerke: GWAF, WBR, ELT, AFL, GA
  Gebäude: 4 Parkhäuser, Mietwagencenter und BVD-Gebäude
  Planungszeit: 2009-2011
  Bauzeit: 2011-2012
  Ansprechpartner: Schüssler-Plan, Herr Manke

= more_link
