%p
  Im Zuge des Ausbaus des Flughafens Berlin-Brandenburg International BBI werden vier Parkhäuser und ein Mietwagencenter mit insgesamt rund 10.000 Parkplätzen sowie eine Abfertigungsebene eines Mietwagencenters errichtet.
  %br
  Die Konzeption des vorliegenden Entwurfes sieht für alle Parkhäuser und das Mietwagencenter kompakte rechteckförmige Gebäudegrundrisse vor.
%p
  Die nördlichen Parkhäuser werden durch Brückenkonstruktionen für Personen- sowie Fahrzeugverkehr verbunden. Die Anbindung des terminalnahen Parkens in die Ebene E1 des Fahrgastterminals erfolgt über Rampenkonstruktionen direkt in den VIP-Bereich des Terminals.
%p
  Der Gebäudekomplex der Bodenverkehrsdienste umfasst auf insgesamt 22.200m² BGF ein Büro- und Sozialgebäude für die Mitarbeiter, ein Werkstattgebäude, eine Fahrzeughalle und das Gebäude im dem die Sicherheitsdienste untergebracht sind. 
  %br
  Für die Mitarbeiter der Bodenverkehrsdienste werden hier Flächen für Administration, Sozialräume und Servicebereiche untergebracht. Die Zusammenführung verschiedener Nutzereinheiten und zukünftige Entwicklungen liberalisierter Flughafenbetriebskonzepte verlangen hier eine besonders anpassungsfähige Gebäudekonzeption, die auch kommenden Trends der Luftfahrtbranche gerecht werden kann.

