%p
  Das inmitten der Rüsselsheimer Innenstadt gelegene Entwicklungsgrundstück verfügt über eine hervorragende Anbindung an die hochfrequenten Fußgängerbereiche des Bahnhofsplatzes und der Marktstraße. 
%p
  Das nördlich der Bahntrasse gelegene Teilgrundstück verfügt über hochwertige historische Bausubstanz, die das äußere Erscheinungsbild des Bereiches prägt und den östlichen Grundstücksteil als geschlossene Blockstruktur erscheinen lässt.
%p
  In der vorliegenden Planung wird, unter Respektierung der historischen Blockgestalt, das östliche Teilgebiet des Grundstückes zu einer im Innenbereich des Blockes gelegenen Einzelhandels- und Freizeitpassage (Opel Forum) entwickelt, welche die historischen Nutzungsbezüge des Ortes aufgreift und die Thematik "Automobil" unter kommerziellen und Freizeit- Aspekten weiterentwickelt. So wird ein Automobil-Museum (Opel-Museum) in das Forum integriert, darüber hinaus wird ein Service und Erlebniscenter für historische Automobile ("Autowerk") im westlichen Grundstücksteil vorgesehen.
%p
  Innerhalb des Blockinnenbereiches schafft die Passage Sicht- und Wegeverbindungen zwischen den einzelnen, historischen und neu errichteten Bauteilen. Der Nutzungsmix aus Einzelhandel, Gastronomie und Freizeitnutzungen garantiert ein vielfältiges, städtisches und hochfrequentes Innenleben des Forums.
  %br
  Das "Autowerk" wird in die bestehende historische Bausubstanz im westlichen Grundstücksbereich integriert, die bestehende Substanz wird durch Einbauten ergänzt.
