---
name: Opel Forum Rüsselsheim
category: :gewerbe
---

- filter :head do
  Opel Forum Rüsselsheim
  (Neubau)

- filter :list do
  Bauherr: Bauwert, Opel Forum Rüsselsheim GmbH
  Architekt: nps tchoban voss
  BGF: ca. 115.000 m²
  TGA Kosten: 22,0 Mio. €
  Baukosten: 80,0 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL, GA
  Planungszeit: 2007-2008
  Bauzeit: 2008-2009 
  Ansprechpartner: nps tchoban voss, Herr Tchoban

= more_link
