%p
  Auf dem ca. 14.584 m² großen Areal Stephanstraße/Ecke Birkenstraße in Berlin-Moabit soll ein viergeschossiges ca. 22 m hohes Einkaufszentrum mit ca. 18.000m² vermietbarer Fläche und einem Parkhaus mit bis zu. 600 Stellplätzen auf 6 Ebenen errichtet werden.
%p
  Im Erdgeschoss ist ein SB-Warenhaus und im 1. Obergeschoss ein Fachmarkt geplant. Im 2. und 3. Obergeschoss ist ein Ärztezentrum geplant. Ergänzt wird das Zentrum entlang der "Mall" durch kleinere Läden und einen „Foodcourt" im 1.OG.
  %br
  Die Erschließung der Obergeschosse erfolgt über 2 Rolltreppen, mehrere Aufzüge und die erforderlichen Treppenhäuser.
  %br
  Es ist keine Vollunterkellerung geplant. Lediglich die erforderlichen Hausanschlüsse Technikflächen und ggf. Lagerflächen für das Ärztezentrum werden in einer Teilunterkellerung untergebracht. Zusätzliche Technik wird in den Geschossen und auf dem Dach installiert.
  %br
  Die Anlieferung befindet sich im rückwärtigen Bereich. Auf der Seite Birkenstraße wird ein Parkhaus errichtet. Dies besteht aus 3 Hauptebenen und 3 zurückgesetzten Zwischenebenen. Insgesamt entstehen max. 600 Stellplätze.
