---
name: Moa-Bogen Berlin
category: :gewerbe
rank: 20
---

-filter :head do
  Moa-Bogen Berlin
  (Neubau)

- filter :list do
  Bauherr: WOKS, Grundstücks- und Projektentwicklungsgesellschaft mbH & Co. KH
  Architekt: nps tchoban voss 
  BGF: 18.000 m²
  TGA Kosten: ca. 6,2 Mio. €
  Baukosten: ca. 24,5 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL
  Planungszeit: 2008
  Bauzeit: 2008-2009
  Ansprechpartner: nps tchoban voss, Herr Dahlmann

= more_link
