%p
  Der Titania-Palast wurde von den Architekten Schöftler, Schlönbach & Jacobi entworfen und im Januar 1928 eröffnet. Das im Stil der Neuen Sachlichkeit erbaute und an amerikanischen Vorbildern orientierte kubische Gebäude auf dem 2.700 m² großen Grundstück stellte mit seiner nahezu völlig schmucklosen Fassade zum Zeitpunkt der Erbauung eine Sensation dar.
%p
  Auf der Ecke der beiden 16 Meter hohen Gebäudeflügel befand sich ein nach hinten versetzter, klotzartiger Turm von 24 Metern Höhe. Besonders auffällig war daneben der schlanke, 30 Meter hohe Beleuchtungsturm, auf dem sich noch eine sieben Meter hohe Fahnenstange befand. Mit seinen 27 Beleuchtungsringen war er weithin sichtbar. Der Turm selbst erhob sich aus langen Lichtstreifen, die den Sockel quer umgaben. Als repräsentatives Großkino mit Bühne besass es einen großen Saal von 1.920 Plätzen.
  %br
  Der repräsentative Eingang des Kinos befand sich damals direkt an der Schloßstraße an der Ecke zur Guthsmuthsstraße. 
%p
  Heute wird der Titania-Palast immer noch als Kino und auch als Geschäftshaus genutzt. Im Erdgeschoss und 1. Obergeschoss werden umfangreiche Umbauarbeiten getätigt, die eine neue Ladenaufteilung ermöglichen. Äußerlich konnten jedoch viele architektonische Merkmale des ursprünglichen Gebäudes erhalten bleiben. Das Haus steht unter Denkmalschutz und besitzt fünf Vorführsäle mit insgesamt etwa 1.200 Plätzen.
