---
name: Titaniapalast Berlin
category: :gewerbe
---

- filter :head do
  Titaniapalast Berlin
  (Sanierung)

- filter :list do
  Bauherr: AG für Haus- und Grundbesitz
  Architekt: nps tchoban voss GbR, Architekten BDA
  BGF: ca. 6.000 m²
  TGA Kosten: 1,0 Mio. €
  Baukosten: 3,0 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL, GA
  Planungszeit: 2007
  Bauzeit: 2007-2008
  Ansprechpartner: nps tchoban voss, Herr Bauer

= more_link
