---
category: :oeffentlich
name: BBI Flughafen Schönefeld
rank: 20
---

- filter :head do
  Flughafen Berlin Brandenburg International
  (Qualitätsmanagement)

- filter :list do
  Bauherr: Flughafen Berlin Schönefeld GmbH über pgbbi 
  Architekt: Planungsgesellschaft pgbbi 
  BGF: 324.000 m²
  TGA Kosten: 240 Mio. €
  Baukosten: 630 Mio. € 
  Gewerke: GWAF, WBR, ELT 
  Planungszeit: 2004-2011
  Bauzeit: 2006-2012
  Ansprechpartner: gmp-Architekten, Herr Paap 

= more_link
