---
category: :oeffentlich
name: VHS Musikschule Weissensee
---

- filter :head do
  Volkshochschule Musikschule Weissensee
  (Sanierung/Umbau)

- filter :list do
  Bauherr: Werkstatt Stadtplaner & Architekten 
  Architekt: Kny & Weber Architekten 
  BGF: 2.000 m²
  TGA Kosten: 280 T€
  Gewerke: GWAF, WBR 
  Planungszeit: 2008
  Bauzeit: 2008-2009
  Ansprechpartner: Werkstatt, Frau Czaika 

= more_link
