---
name: Legoland Duisburg
category: :oeffentlich
---

- filter :head do
  Legoland Duisburg
  (Bauen im Bestand)

- filter :list do
  Bauherr: Legoland Discovery Center, Deutschland
  Architekt: Peter Sinnemann
  BGF: 4.400 m²
  TGA Kosten: 1,0 Mio. €
  Baukosten: 4,0 Mio. €
  Gewerke: GWAF, WBR, ELT
  Planungszeit: 2007
  Bauzeit: 2007-2008
  Ansprechpartner: Merlin Entertainment, Herr Schäfer

= more_link
