%p
  Der Wehrhahnspeicher ist ein ehemaliger Getreidespeicher und liegt direkt am Duisburger Innenhafen. Das denkmalgeschützte Backsteingebäude mit Holzbalkendecken wurde in ein Museumsgebäude umgebaut.
%p
  Vorgesehen war die Nutzung als "Legoland Discovery Center", einer Freizeiteinrichtung für Kinder und Jugendliche, die sich inhaltlich um das Thema "Spiel und Erlebnis mit dem Produkt LEGO" auseinander setzen können.
%p
  Dazu waren umfassende Umbauten des bestehenden Gebäudes erforderlich. Für die Attraktionen Drachenburg (Ride), 4-D Kino, Miniland, Dschungelabenteuer sowie Lego- Fabrik sind umfangreiche akustische und lichttechnische Planungen erforderlich gewesen. Zusätzliche animierte Figuren mit Hilfe einer Druckluftanlage sowie Spezialeffekte mit enthärtetem Wasser machen den Besuch des Legoland Duisburg zu einem einzigartigen Erlebnis.
