%p
  Das ehemalige Zoll-Abfertigungsgebäude am Bahnhof Friedrichstraße "Tränenplalast" hat besondere geschichtliche Bedeutung, weil es sich hierbei um die erste Grenzabfertigungshalle nach dem Bau der Berliner Mauer handelt. 
%p
  Der Tränenpalast gilt als ein architektonisches Zeugnis ersten Ranges für die Teilung der Stadt von 1961 bis 1989. Erbaut wurde der Tränenpalast als Glas-Aluminiumkonstruktion mit einem massiven Anbau. Die Planung sah vor, den historischen Anbau an der südwestlichen Gebäudeseite zu erneuen. Dieser wurde nach dem Fall der Mauer abgerissen.
