---
category: :oeffentlich
name: Madame Tussaud Berlin
---

- filter :head do
  Madame Tussaud Berlin
  (Bauen im Bestand)

- filter :list do
  Bauherr: Merlin Entertainment 
  Architekt: Studio AM 
  BGF: 1.400 m²
  TGA Kosten: 1,8 Mio. €
  Baukosten: 0,9 Mio. € 
  Gewerke: GWAF, WBR, ELT, AFL, GA 
  Planungszeit: 2007
  Bauzeit: 2008
  Ansprechpartner: Studio AM, Frau Gebert 

= more_link
