%script
  diashow = ['/plan_b/buero/ueberuns-1.jpg', '/plan_b/buero/ueberuns-2.jpg']
%h1
  Über uns
:markdown
  Gebäudetechnik ist wichtig, sollte aber nicht im Vordergrund stehen.

  Wir meinen: Dinge müssen so einfach sein, dass die Anwendung und Umsetzung leicht verständlich und effizient ist, eben "Energie mit System".

  Gemeinsam mit den Projektbeteiligten wollen wir eine Immobilie so verständlich wie möglich gestalten und vor allem dauerhaft schaffen. Das Verständnis über Nachhaltigkeit spielt von daher eine wesentliche Rolle in unserem Planungsprozess.  
  Ein ideales Technikkonzept kann nur nach gründlicher Analyse und Bewertung der Nutzerbedürfnisse und Anforderungen der Objektplanung geschaffen werden. Hierbei ist bereits das Engineering im Rahmen der Vorplanung entscheidend.  
  Die Harmonie zwischen Architektur und Haustechnik ist eine Herausforderung, mit der wir uns täglich auseinandersetzen.  Oft ist dabei "weniger mehr".  
  Die Zufriedenheit des Kunden und der Projektbeteiligten steht für uns stets an erster Stelle.

  Das Ingenieurbüro Plan B wurde im Januar 2007 nach vorangegangener langjähriger Zusammenarbeit von den Gesellschaftern Bernd Behrendt, Marko Schmidt und Oliver Zander gegründet. Bereits nach nur kurzer Zeit können wir auf viele erfolgreich realisierte Projekte zurückblicken.  
  Im Jahr 2011 wurde die Niederlassung Frankfurt gegründet, welche durch Herrn Thomas Weber geleitet wird.  
  Die Mitarbeiter, welche sich aus den verschiedenen Bereichen der Versorgungstechnik, Elektrotechnik, Schiffsbau und Projektmanagement zusammensetzen, sind fachlich hochqualifiziert und halten sich mit Fort- und Weiterbildungen auf dem aktuellsten Stand der Technik.

  "Lernen sie uns kennen"

- content_for :right_unpadded do
  %img#main{:src => '/plan_b/buero/ueberuns-1.jpg'}
