- content_for :head do
  %script{:src => '/javascripts/karriere.js'}

%h1
  Wir suchen:

#placeholder

:markdown
  Bitte senden Sie Ihre vollständigen Bewerbungsunterlagen mit ausführlichen Referenzen an:

  Plan B - Beratende Ingenieure GmbH  
  z. Hd. Herr Behrendt  
  Köpenicker Straße 48/49, 10179 Berlin  

  oder per email an: <bewerbung@planb-tga.de>

- content_for :right do
  #placeholder2

