%h1
  BEREICHE

- filter :list do
  Leistungsbereiche: Neubauten, Gebäudesanierung, Mieterausbauten, Bauen im laufenden Betrieb
  Anwendungsbereiche: Büros - Hotels - Wohnungen - Einzelhandel - Einkaufszentren - Restaurant - Kinos - Konzertsäle - Kongresszentren - Theater - Museen - Sportstätten - Krankenhäuser - Wellness und Rehabilitation - Schulen und Universitäten - Gebäude für Forschung und Entwicklung - Laborgebäude
  Arbeitsbereiche: Technische Gebäudeausrüstung (Leistungsphasen 1-9 HOAI), Energietechnik und Energieberatung, Technische Infrastruktur, Systementwicklungen, Generalplanung, Projektmanagement, Technisches Controlling, Energiemanagement und Bedarfsanalyse, Gutachten

- content_for :right do
  %h1
    SPEKTRUM

  - filter :list do
    Sanitär-Labortechnik: Trinkwasserversorgung, Trinkwasseraufbereitung, Be- und Entwässerung, Reinstgasanlagen, Neutralisationsanlagen, Abscheidertechnik, Wasserbewirtschaftung, Schwimmbadtechnik  
    Wärme- und Kältetechnik: Gebäudeheizung, Wärmeerzeugung, Heizwerke, Fernwärme, Kälteerzeugung, Verteilsysteme
    Raumlufttechnische Anlagen: für Gebäude und Industrieprozesse, Absauganlagen, prozesslufttechnische Anlagen, Abgas- und Filtertechnik, Reinraumtechnik, Klimatechnik  
    Elektrotechnik: Energieversorgung, Energieverteilung, Mittelspannungsanlagen, Niederspannungsanlagen, Installations- und Lichttechnik, Sicherheitstechnik, Informations- und Kommunikationstechnik, Konferenztechnik  
    Fördertechnik: Aufzugsanlagen, Fahrtreppen, Fahrsteige, Transportanlagen, Krananlagen, Rohrpost, Telelift  
    Energietechnik: intelligente Systeme für die Erzeugung, Umwandlung und Verteilung von Energie, Kraft-,Wärme- und Kältekopplung, Wärmerückgewinnungsanlagen, Wärmepumpen, solare Systeme, regenerative Energiequellen, Medienver- und entsorgung  
    Brandschutztechnik: Sprinkleranlagen, Inertisierungsanlagen, Gaslöschanlagen, Hydrantenanlagen  
    Gebäudeautomation: Mess-, Steuer- und Regeltechnik, Gebäudeleittechnik, Anlagenengineering, Datenanalyse, Sicherheitskonzepte, Energieoptimierung, Kommunikationsmanagement  
