%meta{ :charset => "utf-8" }
%meta{ :name => 'description', :content => 'Plan B - Beratende Ingenieure GmbH' }

%link{:rel => "shortcut icon", :type => "image/ico",  :href => "/favicon.png" }
%link{:rel => 'stylesheet',                           :href => "/stylesheets/styles.css"}

%script{:src => "/javascripts/jquery.js"}
%script{:src => "/javascripts/scroller.js"}

= @item[:content_for_head]

%title
  Plan B - Beratende Ingenieure GmbH
