@import url(http://fonts.googleapis.com/css?family=Lato:300,700)

@import "bootstrap"


$spc: 10px
$spc2: 25px
$spc3: 70px

body
  width: 1000px
  margin: auto
  margin-top: $spc2

  font-family: Lato, "Helvetica Neue Light", arial

#user_nav
  text-align: right
  float: right

body#devise-sessions,
body#devise-registrations,
body#devise-passwords
  #user_nav
    display: none

#header
  h1
    letter-spacing: 1.6em
    width: 100%
    img
      vertical-align: text-top
      float: right

#asciart-logo
  font-size: 10px
  line-height: 10px
  background-color: white
  border: none
  float: left
  margin: auto
  margin-bottom: $spc
  padding: 0

#main
  clear: both
  padding-top: $spc3
body#welcome.index
  #logo_link, #user_nav
    display: none

dl
  color: $grayLight

#output
  border: 1px dashed green
  width:  100%
