---
category: :hotels
name: Aspria Hotel Berlin
---

- filter :head do
  Aspria Hotel Berlin
  (Sanierung/Umbau)

- filter :list do
  Bauherr: Aspria Berlin GmbH über Krauss Baugesellschaft GmbH Berlin
  Architekt: Rudolph, Lo & Partner
  Design: Michael Brown
  BGF: ca. 2.600 m²
  TGA Kosten: 0,7 Mio. €
  Baukosten: 2,8 Mio €
  Gewerke: GWA, WBR, ELT, AFL
  Planungszeit: 2009
  Bauzeit: 2009
  Ansprechpartner: Herr Michael Hapka

= more_link
