%p
  42 Zimmer und zwei Konferenzräume bietet das Aspria Hotel Berlin nun seinen Wellnesskunden, und denen, die es werden wollen.
%p
  Aspria ist mehr als ein Hotel - sogar viel mehr als das. Modern gestaltete und anspruchsvoll eingerichtete Zimmer, freier Zugang zum 16.000m² Spa + Sporting Club und das in bester Lage am Berliner Kurfürstendamm.
%p
  Die Erweiterung der Wellness-Oase zum Hotel erfolgte mittels des benachbarten Bürogebäudes, welches ursprünglich als Autohaus errichtet wurde. Nur vier Monate vergingen zwischen dem komplettem Rückbau des Büros und dem Einzug des ersten Hotelgastes.
