%p
  Das Gebäude Spittelmarkt 13 befindet sich in signifikanter Lage am Berliner Spittelmarkt, vis á vis der Getraudenbrücke und der Berliner Wallanlage. Es bildet mit den nord-östlich angrenzenden Häusern Spittelmarkt 12 + 11 eine gestalterische und planerische aufeinander abgestimmte Einheit.
  %br
  Zukünftig wird die Verlängerung der Leipziger Straße (Spittelmarkt) direkt bis an die Arkade des Gebäudes geführt. Im Südwesten grenzt direkt an die Kleine Kurstraße zwischen Niederwall- und Kurstraße eine öffentliche Grünanlage/ Platz.
  %br
  Im Bereich des Spittelmarkts springen das Erdgeschoss und das 1.OG um ca. 5,40 m zurück und bilden eine zweigeschossige Arkade aus. Hier verläuft der Gehweg des Spittelmarkts für die Allgemeinheit.
%p
  Ursprünglich als Bürogebäude errichtet, erfolgte der Umbau zu einem Hotel mit 84 Gästezimmern auf 8 Etagen. Im Erdgeschoss befinden sich die Rezeption und ein Restaurant mit angeschlossener Küche. In den beiden Untergeschossen sind die Nebenräume sowie eine Tiefgarage mit Stellplätzen untergebracht. 

