---
category: :hotels
name: Cosmo Hotel Berlin
---

- filter :head do
  Cosmo Hotel Berlin
  (Bauen im Bestand)

- filter :list do
  Bauherr: Europe Hotels International K. Gassmann KG
  Architekt: SEHW Architektur
  BGF: 3.400 m2
  TGA Kosten: 2,0 Mio Euro
  Baukosten: 5,0 Mio Euro
  Gewerke: GWAF, WBR, ELT, AFL, GA
  Planungszeit: 2008 - 2009
  Bauzeit: 2009
  Ansprechpartner: SEHW Architektur Herr Krüger Tel. +49.30.30878510

=more_link
