%p
  Im September 2007 eröffnete das Radisson SAS Hotel Berlin im Dachgeschoss die Skylounge - eine neue Event Location mit einer Fläche von 1.400 m².
%p
  Die Skylounge bietet traumhafte Aussichten aus komplett verglasten Fronten vom Fernsehturm über das Rote Rathaus, den Palast der Republik, den Gendarmenmarkt, den Berliner Dom bis hin zur Museumsinsel. Die Berliner Skyline ist für jede Veranstaltung ein beeindruckender Hintergrund.
%p
  Auf zwei Ebenen bildet die Skylounge mit 5 Veranstaltungsräumen und 3 Foyers eine besondere Location für ein Galadiner, Stehempfänge, private Feierlichkeiten, Ausstellungen, Vorträge und Präsentationen. Da sich die Skylounge flexibel unterteilen lässt, bietet sie auch für kleinere und größere Veranstaltungen das jeweils passende Ambiente.
%p
  Einzigartig wird jede Veranstaltung durch den AquaDom mit seinen 2.500 tropischen Fischen in einer Million Liter Salzwasser. Der gläserne Aufzug durch das weltweit größte zylindrische Aquarium im AquaDom kann zusätzlich gebucht werden und bringt die Gäste vorbei an neugierigen Fischschwärmen auf eine Höhe von 25 Metern zu den Veranstaltungen in der Skylounge.
