---
category: :hotels
name: DomAquarée Skylounge Berlin
---

- filter :head do
  DomAquarée Skylounge Berlin
  (Mieterausbau)

- filter :list do
  Bauherr: Rezidor Hotel Berlin GmbH 
  Architekt: Architektengemeinschaft bhps 
  BGF: ca. 1.400 m² 
  TGA Kosten: 0,5 Mio. €
  Baukosten: 1,5 Mio. €  
  Gewerke: GWAF, WBR, ELT 
  Planungszeit: 2007
  Bauzeit: 2007 
  Ansprechpartner: Radisson SAS, Herr Pöhnert 

= more_link
