%p
  Das 1998 erbaute Hotel verfügt über ein 5-geschossiges Hauptgebäude mit insgesamt 195 Zimmern, davon 130 Einzelzimmer, 62 Doppelzimmer und drei Suiten. Im Hotel befinden sich Bar, Pub und ein à la carte Restaurant.
%p
  Für Tagungen und Konferenzen stehen sieben mit Tageslicht durchflutete Veranstaltungsräume für bis zu 450 Personen zur Verfügung.
  %br
  Das Holiday Inn Berlin-Schönefeld Airport wird um ca. 100 Zimmer sowie um den Neubau eines großzügigen Konferenzbereiches erweitert.
  %br
  Entsprechend dem vorhandenen Standard werden auch die zusätzlichen Gästezimmer mit Klimaanlage, High Speed Internet Zugang, Flat Screen TV und kostenfreier Kaffee- und Teestation ausgestattet.
%p
  Mit Tageslicht, Klimaanlage und neuester technologischer Ausstattung entsprechen die flexibel einsetzbaren Tagungsräume dem neusten Stand der Technik.
