---
category: :hotels
name: Holiday Inn Schönefeld
rank: 10
---

- filter :head do
  Holiday Inn Schönefeld
  (Erweiterung)

- filter :list do
  Bauherr: Georg Haupt 
  Architekt: Architektengemeinschaft bhps 
  BGF: ca. 10.000 m² 
  TGA Kosten: 2,9 Mio. €
  Baukosten: 10,0 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL 
  Planungszeit: 2007-2009
  Bauzeit: 2009-2010 
  Ansprechpartner: Herr Haupt 

= more_link
