---
category: :hotels
name: Radisson SAS Hamburg
rank: 20
---

- filter :head do
  Radisson SAS Hamburg
  (Sanierung) 

- filter :list do
  Bauherr: Azure Hamburg GmbH 
  Architekt: Architektengemeinschaft bhps 
  BGF: 36.000 m² 
  TGA Kosten: 11,0 Mio. €  
  Gewerke: GWAF, WBR, ELT, AFL 
  Planungszeit: 2008
  Bauzeit: 2008-2009 
  Ansprechpartner: Radisson SAS, Herr Wagner 

= more_link
