%p
  Mitten im Herzen der Hansestadt und doch im Grünen steht das 4 Sterne Superior Radisson SAS Hotel. Das höchste Hotel Hamburgs gilt als beliebte Adresse mit internationalem Flair, das wegen seiner beeindruckenden Architektur ein echtes Wahrzeichen ist. 
  %br
  Die Lage ist perfekt: Hamburg Messe, Alster und die eleganten Einkaufspassagen sind bequem zu Fuß zu erreichen. Viele der wichtigen Business-Adressen und Freizeitmöglichkeiten befinden sich in unmittelbarer Nähe.
%p
  Über 27 Etagen genießt der Gast First-Class Service und Einrichtungen wie beispielsweise das viel gerühmte Trader Vic's Restaurant und das Top of Town, Hamburgs höchste Bar & Lounge. Die meisten der 560 First-Class Zimmer bieten einen unverwechselbaren Blick auf die Stadt.
%p
  Highspeed-Internetzugang via W-LAN sowie die Nutzung des beheizten Innenpools, Fitness und Sauna im Swim & Sport Bereich ist für Übernachtungsgäste kostenfrei. Auf der separaten Tagungsetage mit 1.620 m² inklusive dem großzügigen Foyer finden bis zu 1.000 Gäste Platz. Der unterteilbare Ballsaal, moderne technische Ausstattung mit WLAN, viel Tageslicht sowie ideenreiche und professionelle Betreuung gehören zu den Standards. Der direkte Zugang zum Congress Center Hamburg, CCH, eins der größten und modernsten Kongresszentren in Europa, bietet Flexibilität bei Kongressen und ermöglicht die Anmietung noch größerer Kapazitäten.
