%p
  Im Zentrum Berlins liegt das Grundstück in der Weinmeisterstraße. Der linke Gebäudeteil wird in vier Obergeschossen als Hotel genutzt, der rechte Gebäudeteil in vier Obergeschossen sowie im Staffelgeschoss und Dachgeschoss als Wohnhaus mit Ein-Zimmer-Apartments. Die Tiefgarage verfügt über 24 Stellplätze.
%p
  Im Erdgeschoss werden die Gewerbeeinheiten teils mit Festverglasung, teils mit gläsernen Doppelflügeltüren als Zugang zu den Gewerbeeinheiten versehen. Das Gebäude befindet sich im Sanierungsgebiet Spandauer Vorstadt mit einer vorgesehenen Mischnutzung von 50% Wohnen und 50% Gewerbe.
%p
  Das Gebäude schließt mit seinem First mit einer Gesamthöhe von 24,40m im rechten Gebäudeteil über Straßeneingangsebene ab und passt sich somit an das rechte Nachbargebäude an. Zur Linken Seite verringert sich die Gebäudehöhe um ein Geschoss und passt sich hiermit an den vorhandenen Altbau mit seiner geringeren Trauf- und Firsthöhe an.
%p
  Die haustechnischen Nebenräume sowie Lagerräume, ein Wäscheraum und Fahrradstellplätze sind im Rampenbereich im Untergeschoss untergebracht. Eine geothermische Anlage versorgt das Gebäude jahreszeitabhängig mit Wärme bzw. Kälte über Erwärmung bzw. Abkühlung der Zimmerdecken. Zusätzlich wird das Gebäude mit Fernwärme versorgt.
