---
category: :hotels
name: The Weinmeister Berlin
---

- filter :head do
  The Weinmeister Berlin
  (Neubau) 

- filter :list do
  Bauherr: Projektwerke Hamburg 
  Architekt: braun+braun design architektur 
  BGF: 5.700 m² 
  TGA Kosten: 1,3 Mio. €
  Baukosten: 5,4 Mio. € 
  Gewerke: GWAF, WBR, ELT, AFL, GA 
  Planungszeit: 2007
  Bauzeit: 2007-2009 
  Ansprechpartner: Projektwerke Hamburg, Frau Petersen 

= more_link
