%p
  Auf dem Gelände der Torgauer Straße 12 15 in Berlin, dem Sitz der bega.tec sind im Zuge der Sanierungs- und Modernisierungsarbeiten am Haus 1 umfangreiche Nutzungsänderungen umgesetzt worden. Während des Betriebs wurden Flächen saniert, und andere für die spätere Nutzung umfunktioniert.
%p
  In diesem Zusammenhang erfolgte die Entkernung des 6. OG, die brandschutztechnische Ertüchtigung und der Ausbau zum Laborbereich.
%p 
  Das Labor stellte besondere Anforderungen an die Betriebsbereitschaft, so dass ein raumweiser Umzug, teilweise nur mit kurzen Betriebsunterbrechnungen, zu realisieren war.
