---
category: :bueros
name: Gasag Berlin
---

- filter :head do
  Gasag Berlin
  (Laborplanung/Umbau)

- filter :list do
  Bauherr: VR-Leasing/Gasag AG
  Architekt: REM+tec Architekten
  BGF: 370 m²
  TGA Kosten: 200 T€
  Baukosten: 300 T€
  Gewerke: GWAF, WBR, ELT, GASE
  Planungszeit: 2007
  Bauzeit: 2007-2008
  Ansprechpartner: VR Bauregie, Herr Jochen Kuppinger

= more_link
