---
category: :bueros
name: Kanada Haus Berlin
---
-filter :head do
  Kanada Haus Berlin
  (Mieterausbau)

- filter :list do
  Bauherr: Kanada Haus Verwaltungsgesellschaft mbH
  Architekt: IBW Brand Wunderlich 
  BGF: 2.500 m² 
  Gewerke: GWAF, WBR, ELT 
  Planungszeit: 2007
  Bauzeit: 2007 
  Ansprechpartner: Kanada Haus Verwaltungsgesellschaft mbH, Herr Tepel

= more_link
