%p
  Das Kanada Haus in Berlin: Eine der anspruchvollsten und interessantesten Immobilien in der  Hauptstadt.
  %br
  Haus mit Botschaft - dies ist nicht nur der Hinweis auf die neue Kanadische Botschaft, sondern auch auf den außergewöhnlichen Charakter dieses Projektes am Leipziger Platz in der neuen Mitte Berlins. Auf rund 14.500 Quadratmeter Bruttogeschossfläche wurden am Leipziger Platz 17 die Kanadische Botschaft, Büros, Läden, Wohnungen und eine Passage in höchster architektonischer und technischer Qualität errichtet.
%p
  Die Botschaft im Haus schafft eine besondere Atmosphäre zwischen Diplomatie und Öffentlichkeit. Die Außenfassade erhält durch die Lamellenverkleidungen an den Fenstern einen großzügigen Charakter. Die Büros erfüllen alle technischen Voraussetzungen, die modernes Arbeiten ausmachen.
%p
  Auf rund 2.800 Quadratmeter stehen zwischen der 3. und 5. Etage sechs Mieteinheiten mit Blick über Teile des Tiergartens und auf den Reichstag zum Ausbau zur Verfügung.
