---
category: :bueros
name: Marie-Elisabeth-Lüders-Haus Berlin
---

- filter :head do
  Marie-Elisabeth-Lüders-Haus Berlin
  (Projektsteuerung TGA)

- filter :list do
  Bauherr: Bundesamt für Bauwesen und Raumordnung (BBR) über Schüssler-Plan Ingenieurgesellschaft mbH 
  Architekt: Stephan Braunfels 
  BGF: 38.000 m² 
  TGA Kosten: 44,7 Mio. €
  Baukosten: 190,0 Mio. €  
  Gewerke: GWAF, WBR, ELT, AFL 
  Planungszeit: 2008-2010
  Bauzeit: 2009-2013 
  Ansprechpartner: BBR, Frau Glock 

= more_link
