%p
  Innerhalb der bestehenden Blockrandbebauung der Blöcke A1, A6, B1, B4 des Opel- Werksgeländes wird die bestehende Büronutzung des Bereiches GPSC (Opel Einkauf) umverlegt und neu organisiert. Bei den bestehenden Gebäuden handelt es sich um eine 3- 4-geschossige Bebauung mit teilweiser Unterkellerung. Die Büronutzung wird in den Geschossen 1.-4. OG als Kombi- bzw. Großraumnutzung innerhalb einzelner Nutzungseinheiten organisiert. Neben den Gruppenarbeitsräumen werden Einzelarbeitsräume, Besprechungsräume sowie die erforderlichen Teeküchen, WC und Server- und Elektroräume vorgesehen.
%p
  Es werden Gruppenarbeitsplätze, Einzelarbeitsplätze und Besprechungsräume vorgesehen. Die Bürobereiche werden mit einem Hohlraumboden ausgestattet. Trennwände werden zwischen Großraum- und Einzelbüros sowie Besprechungsräumen in Glas (mit Sichtschutzmarkierungen in Sichthöhe) sowie zu sonstigen Nebenräumen in Gipskarton ausgeführt.
%p
  In Teilbereichen werden untergehängte Decken als akustisch wirksame Elemente ergänzt. Unterzüge und erforderliche Installationen bleiben mindestens teilweise sichtbar und unverkleidet. Eine angemessene Be- und Entlüftungsanlage für die Besprechungs- und Technikräume wird berücksichtigt.Alle anderen Bereiche werden natürlich belüftet. Die Mietflächen werden zur Einhaltung der Arbeitsstättenrichtlinie über Umluftkühlgeräte klimatisiert.
