---
name: Opeleinkauf Rüsselsheim
category: :bueros
---

- filter :head do
  Opeleinkauf Rüsselsheim
  (Sanierung von Bürobereichen/Bauen im Bestand)

- filter :list do
  Bauherr: HKS Verwaltungs GmbH
  Architekt: nps tchoban voss 
  BGF: ca. 8.000 m² 
  TGA Kosten: 3,2 Mio. €
  Baukosten: 5,0 Mio. €  
  Gewerke: GWAF, WBR, ELT, AFL, GA 
  Planungszeit: 2007
  Bauzeit: 2008 
  Ansprechpartner: nps tchoban voss, Herr Tchoban 

= more_link
