---
name: Rosenthaler Straße Berlin
category: :bueros
---
- filter :head do
  Rosenthaler Straße Berlin
  (Bauen im Bestand)

- filter :list do
  Bauherr: Projektwerke Hamburg
  Architekt: Bollinger & Fehling Architekten
  BGF: 2.000 m² 
  TGA Kosten: 0,8 Mio. €
  Baukosten: 2,5 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL, GA
  Planungszeit: 2007
  Bauzeit: 2007-2008
  Ansprechpartner: Bollinger & Fehling Architekten, Herr Bollinger

= more_link
