%p
  Das denkmalgeschützte Gebäude in der Rosenthaler Straße 52 wird komplett saniert. Das Gebäude erhält im Erdgeschoss eine großflächige Fassade für einen modernen Verkaufsraum.
  %br
  In den Obergeschossen werden Büroeinheiten nach dem neusten technischen Standard geplant. Das Dachgeschoss erhält eine großzügige Fensterfassade, die einen hervorragenden Blick in das Umfeld der Mitte Berlins zulässt.
%p
  Für das Gebäude ist ein Austausch der Decken mit Betonkernaktivierung vorgesehen, die über eine geothermische Anlage versorgt wird.
  %br
  Die geothermische Nutzung des Untergrundes zum wirtschaftlichen und umweltfreundlichen Heizen und Kühlen wird über ein geschlossenes geothermische Quellensystem über Erdwärmesonde realisiert.
%p
  Die nachhaltige und wirtschaftliche Nutzung der geothermischen Quellenanlage unter Berücksichtigung der Leistungsgröße und Betriebsweise der eingesetzten Wärmepumpe ist ein entscheidendes Kriterium der sogenannten "2. Miete".
