---
name: Spreedreieck Berlin
category: :bueros
rank: 20
---

- filter :head do
  Spreedreieck Berlin
  (Qualitätsmanagement TGA)

- filter :list do
  Bauherr: Müller-Spreer & Co. Spreedreieck KG 
  Architekt: Mark Braun Architekten 
  BGF: 29.100 m² 
  TGA Kosten: 13,4 Mio. €
  Gewerke: GWAF, WBR, ELT, AFL 
  Bauzeit: 2008-2009 
  Ansprechpartner: Herr Müller-Spreer 
= more_link
