%p
  Bei dem Objekt Spreedreieck handelt es sich um ein Gebäude mit zwei Bürotürmen, jeweils ca. 71 m lang und bis zu 16 m breit, die durch einen gemeinsamen Kern verbunden sind.
  %br
  Die oberirdischen Geschosse stehen auf zwei unterirdischen Geschossen. Die Geschosse ab dem zweiten Obergeschoss werden für Büro- und Verwaltungseinheiten genutzt. Das erste Untergeschoss, das Erdgeschoss und Teile des ersten Untergeschoss befindet sich eine Tiefgarage mit 3 Halbebenen und einer Fläche von ca. 4.500 m².
%p
  Vorgabe für ein Energiekonzept war die Minimierung der Mietnebenkosten. Hierfür wurde ein Energie- und Technikkonzept mit integrativer Umsetzung ökonomischer und ökologischer Parameter erarbeitet. Dies sind insbesondere:
%ul
  %li Kosten- und ressourcenschonender Einsatz von Erdwärme (Geothermie).
  %li Gleichzeitige Nutzung umweltfreundlicher Fernwärmesysteme aus Kraft-Wärmekopplung.
  %li Gewinne solarer Einträge im Winter durch transparente Gebäudehülle.
  %li Einsatz effizienter innerer Sonnenschutz- und Blendschutzeinrichtungen.
  %li Natürliche Lüftung durch öffenbare Fenster
  %li Tageslichtnutzung
